@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Wonder Woman</h1>
    <p class="lead">Enclosed is information about Wonder Woman</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enemies</h2>
        <p>
            Here is a brief list of enemies including the date of their appearance over the many years Wonder Woman has been in print.
        </p>
    </div>
</div>